.game_list {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;

  flex-wrap: wrap;
}

.game_item {
  width: 30%;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.1s ease-in;
}

.game_item:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.game_item img {
  height: 200px;
}

.game_item .default {
  filter: invert(1);
}