.settings_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_checkboxes {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.settings_checkboxes label {
  border-bottom: 1px solid #fff;
}

.settings_checkboxes div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}