.sidebar {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  z-index: 99;
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: transparent;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  margin: 0;
  padding: 0;

  top: 0;
}

.sidebar.left {
  left: -30%;
  transition: all ease-in-out 0.2s;

  border-right: 1px solid transparent;
}

.sidebar.right {
  right: -30%;
  transition: all ease-in-out 0.2s;

  border-left: 1px solid transparent;
}

.sidebar.left.open {
  left: 0;

  border-color: #fff;
}

.sidebar.right.open {
  right: 0;

  border-color: #fff;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;

  width: 95%;
}

.sidebar-inner div {
  margin: 10px;
}

.sidebar-title {
  font-weight: bold;
  font-size: 20px;

  text-align:center;

  margin: 30px;
}