.bg-image {
  position: absolute;
  z-index: -99;

  filter: invert(63%) sepia(28%) saturate(316%) hue-rotate(160deg) brightness(87%) contrast(92%);
  background-image: url("./assets/xenia-straight-fixed.png");
  background-size: 800px;

  width: 100vw;
  height: 100vh;

  animation: slide 15s linear infinite;
}

@keyframes slide{
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 2000px 2000px
  }
}

.sidebar-bg {
  width: 100%;
  height: 100%;
  position: absolute;

  left: 0;
  top: 0;

  display: none;
  
  backdrop-filter: blur(10px) opacity(0);

  transition: backdrop-filter ease-in 0.2s;
}

.sidebar-bg.show {
  display: block;
  backdrop-filter: blur(10px) opacity(1);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}